html {
    background-color: #fffdfd;
}

/* Navigation */
.navigation-wrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffafa;
}

.navigation-wrapper li {
    float: left;
}

.navigation-wrapper li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navigation-wrapper a:hover {
    background-color: #ffefef;
}


/**/
.overall-wrapper {
    margin-top: 20px;
    display: grid;
}

/* Options */
.content-wrapper {
    border: 3px solid #ffefef;
    border-radius: 10px;

    margin: 0 10px;
}

.content {
    background-color: #fff9f9;

    width: auto;

    margin: 8px;
    padding: 8px;
    border-radius: 10px;
}

.content h2 {
    margin: 5px 0;
}

.dates p {
    display: inline;
    margin-inline: 5px;
}

.tag-wrapper ul {
    padding: 0;
    list-style-type: none;
}

.tag-wrapper ul li {
    float: left;
    margin: 2px;
}

.li-tag-name {
    display: inline-block;
    margin: 3.5px 0;
}

#info-image-list {
    list-style-type: none;
    padding: 0;
    width: 90vw;
    height: 120px;
    overflow: auto;
    white-space: nowrap;
}

#info-image-list li{
    display: inline-block;
    margin: 5px 10px;
}


.info-image img{
    height: 100px;
    width: auto;
}

.info-image img:hover {
    cursor: pointer;
}