<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="template.css">
        <link rel="stylesheet" href="../Languages.css">
        <script src="template.js"></script>
    </head>
    <body style="margin:0;padding:0;" onload="test();">
        <div class="navigation-wrapper">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>

        <div class="overall-wrapper">
            <div class="content-wrapper">
                <div class="content">
                    <h2>Title</h2>
                    <div class="dates">
                        <p>Date created: </p>
                        <p id="date-created">sd</p>
                        <p>Date started: </p>
                        <p id="date-started">sd</p>
                    </div>
                    <table class="tag-wrapper">
                        <tr>
                            <td>Tags:</td>
                            <td>
                                <ul class="tag">
                                    <li class="javascript"><img src="../Images/js.png">JavaScript</li>
                                    <li class="css"><img src="../Images/css.png">CSS</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div class="image-display">

                    </div>
                    <div class="short-desc">
                        <p>Short Description Short Description Short Description Short Description Short Description</p>
                    </div>
                    <div class="long-desc">
                        <p>Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description Long Description </p>
                    </div>
                </div>
            </div>
        </div>

        <footer>

        </footer>
    </body>
</html>
