/* Navigation */
.navigation-wrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffafa;
}

.navigation-wrapper li {
    float: left;
}

.navigation-wrapper li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navigation-wrapper a:hover {
    background-color: #ffefef;
}


/* List Display */
.display {
    margin: 10px;

    border: 3px solid #fff8f8;
    border-radius: 10px;
}

.display-list {
    margin: 0;
    padding: 0;

    height: 50vh;

    list-style-type: none;
    overflow-y: scroll;
}


/* Options */
.display-list li {
    background-color: #fff9f9;

    margin: 8px;
    padding: 8px;
    border-radius: 10px;
}

.display-list h2 {
    margin: 5px 0;
}

.display-list a {
    text-decoration: none;
}

.tag-wrapper ul {
    list-style-type: none;
}

.tag-wrapper ul li {
    float: left;
}