html {
    background-color: #fffdfd;
}

/* Navigation */
.navigation-wrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffafa;
}

.navigation-wrapper li {
    float: left;
}

.navigation-wrapper li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navigation-wrapper a:hover {
    background-color: #ffefef;
}


/**/
.overall-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px minmax(300px,900px) minmax(150px,225px);
    grid-template-rows: 50px auto;
    column-gap: 10px;
}

.search {
    display: inline;
    grid-column: 2;
    grid-row: 1;
}

/* Filters */
.filters {
    grid-column: 1;
    grid-row: 2;
}

.filter-wrapper {
    border: 2px solid black;
    border-radius: 10px;

    margin: 0 5px;
    padding-left: 10px;

    background-color: #fff5f5;
}

.filter-wrapper h3 {
    margin: 5px 0;
    text-decoration: underline;
}

.filter-wrapper h4 {
    margin: 3px 0;
}

.filter-tags-options {
    list-style: none;
    
    margin-top: 3px;
    padding: 0;
}


/* List Display */
.display {
    display: inline-grid;
    grid-column: 2;
    grid-row: 2;

    border: 3px solid #ffefef;
    border-radius: 10px;
}

.display-list {
    margin: 0;
    padding: 0;

    /* height: 50vh;
    overflow-y: scroll; */

    list-style-type: none;
    
}

/* Options */
.display-list li {
    background-color: #fff9f9;

    margin: 8px;
    padding: 8px;
    border-radius: 10px;
}

.display-list a {
    color: black;
}

.display-list h2 {
    margin: 5px 0;
    text-decoration: underline;
}

.display-list a {
    text-decoration: none;
}

.tag-wrapper ul {
    padding: 0;
    list-style-type: none;
}

.tag-wrapper ul li {
    float: left;
}






/* Billboard */
.billboard {
    grid-column: 3;
    grid-row: 2;
}

.stats {
    border: 2px solid black;
    border-radius: 10px;

    margin: 0 5px;
    padding-left: 10px;
    background-color: #fff5f5;
}

.stats h3 {
    margin: 5px 0;
    text-decoration: underline;
}

.stats h4 {
    margin: 2px 0;
}

.stats ul {
    padding: 0;
}

.stats li{
    list-style: none;
    width: 90%;
}
.stats .progress-bar {
    display: block;
    height: 20px;
}

.stats .progress-fill {
    background-color: red;
    border-radius: 5px;
    height: 10px;
}