/* Navigation */
.navigation-wrapper ul{
    list-style-type: none;
    margin: 0 !important;
    margin-inline: 20px;
    min-width: 600px;
    max-width: 100%;
    padding: 0;
    padding-left: 20px;
    overflow: hidden;
    background-color: #ffe8e8;
}

.navigation-wrapper li {
    float: left;
}

.navigation-wrapper li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navigation-wrapper a:hover {
    background-color: #ffefef;
}